.profilecard{
    margin: 40px 0;
    margin-top: 50px;
    width: 1000px;
    min-height: 500px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.133);
    display: flex;
    flex-direction: column;
}

.usericon{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: rgb(102, 102, 102);
    border-radius: 50%;
}